@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

:root {
  --nav-bg-color: rgb(25, 68, 138);
  --nav-text-color: rgb(208, 216, 214);
  --body-bg-color: rgb(232, 239, 237);
  --h1-color: rgb(25, 68, 138);
}

html {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-right > span {
  color: var(--nav-text-color);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  height: 5rem;
}

#navbar > .navbar-right {
  margin-left: 1.5rem;
  font-weight: 600;
}

#navbar > .navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
  font-weight: 500;
}

#navbar a {
  text-decoration: none;
  color: var(--nav-text-color);
}

#navbar a:hover {
  text-decoration: underline var(--nav-text-color);
}

.hero {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.conteiner {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  height: 35rem;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 25rem;
  margin: 0 auto;
}

.hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  gap: 2%;
  max-width: 50rem;
}

.emoji-pc {
  width: 3rem;
  position: absolute;
  top: 8.5rem;
}

.hero-text > h1 {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-size: 40px;
  color: var(--h1-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-out;
}

.hero-text > h1:hover {
  box-shadow: inset 365px 0 0 0 #ffffff;
  color: rgb(83, 140, 201);
}

.hero-text > p {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-size: 24px;
  font-weight: 400;
  color: var(--h1-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-out;
}

.hero-text > p:hover {
  box-shadow: inset 405px 0 0 0 #ffffff;
  color: rgb(83, 140, 201);
}



.hero-text > span {
  display: flex;
  justify-content: start;
  margin: 1rem 0rem;
  width: 100%;
  gap: 2%;
}

.hero-text > span a:hover {
  box-shadow: inset 340px 0 0 0 #ffffff;
  color: rgb(83, 140, 201);
}

.hero-text > span a {
  color: var(--h1-color);
  font-size: 1.5rem;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img > img {
  height: 25rem;
  width: 35rem;
  justify-content: center;
  border-radius: 2rem;
}

.skills {
  width: 80%;
  display: flex;
  align-items: center;
  bottom: 0;
  position: absolute;
  height: 10%;
}

.skills p {
  border-right: 2px solid var(--h1-color);
  margin-right: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  color: var(--h1-color);
  font-size: 1.3rem;
}

.logos span i {
  color: var(--h1-color);
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

/*About Section*/

.about {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 3rem;
  padding-left: 2rem;
}

.about-conteiner {
  margin: 3rem auto;
}
.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.img-side {
  position: relative;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}

.main-img {
  border-radius: 2rem;
  height: 25rem;
  width: 41rem;
}

.text-side {
  padding-right: 1rem;
  height: 100%;
  width: 80%;
}

.text-side h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: -3rem;
  text-transform: uppercase;
  color: var(--h1-color);
}

.text-side h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--h1-color);
}

.text-side p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  color: var(--h1-color);
}

/*Exp Section*/

.exp {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3rem 3rem;
  padding-left: 2rem;
}

.exp > h3 {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 32px;
}

.exp-container {
  display: flex;
  gap: 5px;
  margin: 3rem auto;
}

.box-exp {
  border-right: 2px;
  margin-right: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.date {
  font-size: 15px;
  bottom: 0;
}

.box-exp > h4 {
  color: var(--h1-color);
  font-size: 20px;
}

.box-exp p {
  color: var(--h1-color);
}

/*Formazione*/

.formazione {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3rem 3rem;
  padding-left: 2rem;
}

.formazione > h3 {
  color: var(--h1-color);
  font-weight: bold;
  font-size: 32px;
}

.form-container {
  display: flex;
  gap: 15px;
  margin: 3rem auto;
}
.box-form {
  border-right: 2px;
  margin-right: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.box-form > h4 {
  color: var(--h1-color);
  font-size: 20px;
}

.box-form p {
  color: var(--h1-color);
}


